@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.navigation-list,
.advantages-list,
.footer-list,
.breadcrumbs,
.catalog-filter-list,
.hotel-list,
.pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page-header{
  display: flex;
  width: 1060px;
  height: 70px;
  margin: 0 auto;
}

.page-logo {
  margin-right: 30px;
  z-index: 2;
}

.navigation {
  display: flex;
}

.navigation-item-counter {
  position: absolute;
  bottom: 51px;
  left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  width: 20px;
  height: 20px;
  background-image: url("images/green-ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-item > .navigation-item-counter {
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 390px;
}

.navigation-user {
  max-width: 264px;
}

.navigation-link {
  position: relative;
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding: 20px 17px;
}


.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: #756257;
  fill-opacity: 0.3;
}

.navigation-item-user:nth-child(3):hover .navigation-link {
  background-color: #615048;
}

.navigation-item-user:nth-child(3):active .navigation-link {
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link:focus {
  outline: 3px solid #83B3D3;
}

.navigation > .navigation-list:nth-child(1) {
  margin-right: 282px;
}

.navigation-item-user:nth-child(1) .navigation-link,
.navigation-item-user:nth-child(2) .navigation-link {
  display: block;
  padding: 0;
  min-width: 42px;
  min-height: 66px;
}

.navigation-item-user:nth-child(3) .navigation-link {
  color: #ffffff;
  background-color: #756257;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 130px;
  height: 20px;
  padding: 9px 15px;
  margin-top: 13.72px;
  margin-bottom: 19.04px;
  margin-left: 20px;
  border-radius: 4px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.promo-first {
  width: 100%;
  min-height: 508px;
  background-image: url("images/shape.svg"), url("images/background-top.jpg");
  background-position: 0% 100.5%, center 28.5%;
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-color: #81b4d3;
}
.promo-first img{
  padding-top: 51px;
  padding-left: 371px;
  padding-right: 371px;
  padding-bottom: 82px;
}
.main-container {
  flex-grow: 1;
  padding-top: 51px;
  margin-top: -4px;
  z-index: 1;
}
.promo-first{
  margin-top: -54px;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
}
.advantages-header {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 63px;
  padding-bottom: 79px;
}

.advantages-header > .advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.advantages-header > .advantages-discription {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  display: flex;
}

.advantages-item > .advantages-title,
.advantages-wrapper > .advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title,
.advantages-number,
.advantages-description {
  margin: 0;
}

.advantages-description {
  align-self: center;
}

.advantages-wrapper > .advantages-description {
  width: 220px;
}

.advantages-item:nth-child(2) > .advantages-description {
  width: 180px;
}

.advantages-item:nth-child(3) > .advantages-description {
  width: 250px;
}

.advantages-item:nth-child(4) > .advantages-description {
  width: 250px;
}

.advantages-wrapper,
.advantages-list > .advantages-item:nth-child(2),
.advantages-list > .advantages-item:nth-child(3),
.advantages-list > .advantages-item:nth-child(4),
.advantages-list > .advantages-item:nth-child(6),
.advantages-list > .advantages-item:nth-child(7),
.advantages-list > .advantages-item:nth-child(8) {
  display: flex;
  flex-direction: column;
}

.advantages-item:nth-child(1) .advantages-title,
.advantages-item:nth-child(5) .advantages-title,
.advantages-item:nth-child(6) .advantages-title,
.advantages-item:nth-child(7) .advantages-title,
.advantages-item:nth-child(8) .advantages-title {
  margin-top: 98px;
  margin-bottom: 29px;
}

.advantages-item:nth-child(2) .advantages-title,
.advantages-item:nth-child(3) .advantages-title,
.advantages-item:nth-child(4) .advantages-title   {
  margin-bottom: 20px;
}

.advantages-item:nth-child(1) .advantages-number,
.advantages-item:nth-child(5) .advantages-number,
.advantages-item:nth-child(6) .advantages-number,
.advantages-item:nth-child(7) .advantages-number,
.advantages-item:nth-child(8) .advantages-number {
  margin-bottom: 30px;
}

.advantages-wrapper {
  width: 400px;
}

.advantages-list > .advantages-item:nth-child(1) {
  color: #ffffff;
  background-color: #83B3D3;
  width: 1200px;
  height: 384px;
}

.advantages-list > .advantages-item:nth-child(2) {
  color: #000000;
  background-color: #83B3D31F;
  width: 400px;
  height: 384px;
}

.advantages-item:nth-child(2) .advantages-title::before {
  content: "";
  display: block;
  height: 72px;
  margin-top: 89px;
  margin-bottom: 23px;
  background-image: url("images/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-list > .advantages-item:nth-child(3) {
  color: #000000;
  background-color: #ffffff;
  width: 400px;
  height: 384px;
}

.advantages-item:nth-child(3) .advantages-title::before {
  content: "";
  display: block;
  height: 70px;
  margin-top: 91px;
  margin-bottom: 23px;
  background-image: url("images/hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-list > .advantages-item:nth-child(4) {
  color: #000000;
  background-color: #83B3D31F;
  width: 400px;
  height: 384px;
}

.advantages-item:nth-child(4) .advantages-title::before {
  content: "";
  display: block;
  height: 76px;
  margin-top: 85px;
  margin-bottom: 23px;
  background-image: url("images/souvenir.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-list > .advantages-item:nth-child(5) {
  color: #ffffff;
  background-color: #83B3D3;
  width: 1200px;
  height: 384px;
}

.advantages-list > .advantages-item:nth-child(6) {
  color: #000000;
  background-color: #83B3D31F;
  width: 400px;
  height: 384px;
}

.advantages-list > .advantages-item:nth-child(7) {
  color: #000000;
  background-color: #83B3D333;
  width: 400px;
  height: 384px;
}

.advantages-list > .advantages-item:nth-child(8) {
  color: #000000;
  background-color: #83B3D31F;
  width: 400px;
  height: 384px;
}

.search {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 417px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
}

.search .search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 56px;
}

.search-link {
  color: #ffffff;
  background-color: #756257;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 575px;
  height: 30px;
  padding: 15px 0;
  text-align: center;
  border-radius: 10px;
}

.search-link:hover {
  background-color: #615048;
}

.search-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-link:focus{
  outline: 3px solid #83B3D3;
}

.newsletter {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("images/background-bottom.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 411px;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 94px;
  height: 50px;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  margin-top: 15px;
  height: 72px;
}

.newsletter-form {
  margin-top: 26px;
  display: flex;
  justify-content: center;
}

.field {
  width: 559px;
  height: 60px;
  padding: 0;
  padding-left: 20px;
  padding-right: 19px;
  border-width: 0;
  border-radius: 10px 0px 0px 10px;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  outline: 3px solid #83B3D3;
}

.newsletter-button {
  color: #ffffff;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  border: none;
  width: 200px;
  height: 60px;
  padding: 0;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.newsletter-button:hover  {
  background-color: #68A2CA;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3)
}

.newsletter-button:focus {
  outline: 3px solid #756257;;
}

.page-footer {
  color: #000000;
  background-color: #ffffff;
}

.footer-social {
  margin-right: 51px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 37px;
  margin-left: 61px;
}

.footer-social-link {
  position: relative;
  display: block;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-tw {
  width: 18px;
  height: 15px;
  padding: 13px 11px;
  margin-right: 3px;
}

.footer-social-fb {
  width: 10px;
  height: 18px;
  padding: 11px 15px;
  margin-right: 5px;
}

.footer-social-yt {
  width: 20px;
  height: 16px;
  padding: 12px 10px;
}

.footer-social-icon:hover {
  fill: #68A2CA;
}

.footer-social-icon:active {
  fill: #68A2CA;
  fill-opacity: 0.3;
}

.footer-social-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-contacts {
  margin-right: 30px;
}

.footer-contacts-address {
  width: 720px;
  margin-top: 25px;
}

.footer-contacts-address-phone {
  color: #000000;
  background-color: #ffffff;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  width: 350px;
  text-align: center;
  margin-left: 179px;
  padding: 15px;
}

.footer-contacts-address-phone:hover {
  color: #756257;
}

.footer-contacts-address-phone:active {
  color: #756257;
  opacity: 0.3;
}

.footer-contacts-address-phone:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}

.htmlacademy-logo {
  display: block;
  position: relative;
  width: 115px;
  height: 33px;
  padding: 18px 23px;
  margin-top: 24px;
}

.htmlacademy-logo-icon:hover {
  fill: #756257;
}

.htmlacademy-logo-icon:active {
  fill: #756257;
  fill-opacity: 0.3;
}

.htmlacademy-logo:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.htmlacademy-logo-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}
.main-inner {
  color: #ffffff;
  background-color: #ffffff;
  background-image: url("images/catalog-background.jpg");
  background-repeat: no-repeat;
  padding-top: 35px;
  margin: 0 auto;
  width: 1200px;
}

.inner-header-title {
  color: #ffffff;
  font-size: 60px;
  line-height: 77.64px;
  font-weight: 700;
  height: 68px;
  margin: 0;
  margin-left: 71px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-left: 65px;
  margin-bottom: 43px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: #ffffff;
  opacity: 0.6;
  fill-opacity: 0.6;;
 }

.breadcrumbs-link:active {
  color: #ffffff;
  opacity: 0.3;
  fill-opacity: 0.3;
 }

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-item:nth-child(1)  {
  position: relative;
}

.breadcrumbs-item:nth-child(1) .breadcrumbs-link {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  padding: 6px 8px 9px 8px;
  margin-right: 10px;
}

.breadcrumbs-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #ffffff;
}

.breadcrumbs-link + .breadcrumbs-icon {
  fill: #ffffff;
  fill-opacity: 0.3;
  margin-left: 31px;
}

.breadcrumbs-item:nth-child(2) .breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 20.7px;
  margin-top: 2px;
  padding: 0 8px;
}

.catalog-filter {
  display: flex;
  margin-left: 70px;
  padding-bottom: 82px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 28px;
}

.catalog-filter-item {
  margin-left: 2px;
  margin-bottom: 15px;
}

.control-input {
  cursor: pointer;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.control-input[type="checkbox"]:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:active + .control-mark {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("images/checkbox.svg");
  background-repeat: no-repeat;
  background-size: 12.2px 9.9px;
  background-position: center;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:hover + .control-mark {
  background-color: #FFFFFF;
}

.control-input[type="radio"]:active + .control-mark {
  outline: none;
}

.control-input[type="radio"]:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.catalog-filter-group:nth-child(1) {
  margin-right: 63px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 165px;
}

.catalog-filter-group:nth-child(3) {
  margin-right: 81px;
}

.catalog-filter-group:nth-child(3) .catalog-filter-title {
  padding-bottom: 34px;
}

.range-wrapper-inputs {
  display: flex;
  position: relative;
}

.range-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23.29px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0);
  padding: 12px 0px 9px 17px;
  border: 2px solid #FFFFFF;
  width: 125px;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  outline: 2px solid #FFFFFF;
  border: 3px solid #81B3D2;
  box-shadow: 0px 0px 0px 5px #81B3D2;
}

.catalog-filter-label:nth-child(1) .range-input {
  border-right: none;
  border-radius: 4px 0px 0px 4px;
}

.catalog-filter-label:nth-child(2) .range-input {
  border-radius: 0px 4px 4px 0px;
}

.catalog-filter-label:nth-child(1):after {
  content: "от";
  font-size: 18px;
  line-height: 23.29px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 12px;
  left: 112px;
}

.catalog-filter-label:nth-child(2):after {
  content: "до";
  font-size: 18px;
  line-height: 23.29px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 12px;
  left: 252px;
}

.catalog-filter-label {
  display: flex;
}

.catalog-filter-label:nth-child(2) .range-input {
  border-left: 2px solid #FFFFFF;
}

.range-input-inner {
  color: #FFFFFF;
  opacity: 0.3;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  top: 28px;
}

.range-bar {
  position: absolute;
  width: 227px;
  height: 4px;
  background-color: #FFFFFF;
  border-radius: 2px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: -1px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.button-apply {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  background-color: #83B3D3;
  font-size: 16px;
  line-height: 20.7px;
  font-weight: 700;
  text-transform: uppercase;
  width: 160px;
  height: 48px;
  margin-bottom: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-apply:hover {
  background-color: #68A2CA;
}

.button-apply:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-apply:focus {
  outline: 3px solid #FFFFFF;
}

.button-reset {
  color: #ffffff;
  background-color: #83B3D300;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 23.29px;
  font-weight: 400;
  border: none;
  padding: 4px;
  cursor: pointer;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:active {
  opacity: 0.3;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.inner-background {
  background-color: #ffffff;
}

.find-hotel {
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  line-height: 38.82px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-right: 192px;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23.29px;
  font-weight: 400;
  width: 287px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-color: #ffffff;
  appearance: none;
  background-image: url("images/dropdown.svg");
  background-repeat: no-repeat;
  background-position: 253px 20px;
  align-self: center;
  margin-right: 81px;
  padding: 10px 0px 13px 16px;
  cursor: pointer;
  position: relative;
}

.select-control:hover  {
  border: 2px solid #83B3D3;;
}

.select-control:active:focus {
  outline: none;
  border: 2px solid #E6E6E6;
  color: #333333;
  opacity: 0.3;
}

.select-control:focus {
  outline: none;
  border: 2px solid #83B3D3;
}

.sorting-hotel {
  display: flex;
  align-items: center;
  min-width: 1057px;
  padding-left: 71px;
  padding-top: 34px;
  margin-bottom: 53px;
}

.buttons-show-wrapper {
  display: flex;
}

.button-show {
  min-width: 16px;
  min-height: 14px;
  padding: 15px 14px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.button-show:hover {
  border-color: #83B3D3;
}

.button-show:focus {
  outline: none;
  border-color: #83B3D3;
}

.button-show:active {
  border: 2px solid #000000;
}

.button-tile {
  background-color: #ffffff;
  background-image: url("images/tile.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.button-slideshow {
  background-color: #ffffff;
  background-image: url("images/slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.button-list {
  background-color: #ffffff;
  background-image: url("images/list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3,339px);
  column-gap: 18px;
  row-gap: 10px;
  margin-bottom: 34px;
  margin-left: 72px;
}

.hotel-card {
  min-height: 398px;
  padding: 20px;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
  outline: none;
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.hotel-card-image:hover {
  opacity: 0.6;
}

.hotel-card-image:active {
  opacity: 0.3;
}

.hotel-card-link:focus .hotel-card-image {
  outline: 3px solid #83B3D3;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31.06px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: 133px 165px;
  grid-template-rows: repeat(3, 37px);
}

.hotel-card-price {
  margin-left: 25px;
}

.hotel-card-type,
.hotel-card-price {
  color: #000000;
  font-size: 18px;
  line-height: 23.29px;
  font-weight: 400;
}

.hotel-card-button {
  color: #ffffff;
  background-color: #756257;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20.7px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 133px;
  padding: 10px 0;
  text-align: center;
  border-radius: 4px;
}

.hotel-card-button:hover {
  background-color: #615048;
}

.hotel-card-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-button:focus {
  outline: 3px solid #83B3D3;;
}

.hotel-card-button[type="button"] {
  background-color: #83B3D3;
  font-family: "PT Sans", sans-serif;
  border: none;
  margin-left: 25.05px;
  width: 140.94px;
  cursor: pointer;
}

.hotel-card-button[type="button"]:hover {
  background-color: #68A2CA;
  outline: 1px solid #756257;
}

.hotel-card-button[type="button"]:active {
  color: rgba(255, 255, 255, 0.3);
  outline: 1px solid #756257;
}

.hotel-card-button[type="button"]:focus {
  outline: 3px solid #756257;
}

.hotel-card:nth-child(3) .hotel-card-button[type="button"] {
  background-color: #7DB54F;
}

.hotel-card:nth-child(3) .hotel-card-button[type="button"]:hover {
  background-color: #6C9E42;
}

.hotel-card-stars {
  display: block;
  height: 17px;
  margin-top: 26px;
}

.hotel-card:nth-child(1) .hotel-card-stars {
  background-image: url("images/stars-4.svg");
  background-repeat: no-repeat;
}

.hotel-card:nth-child(2) .hotel-card-stars {
  background-image: url("images/stars-3.svg");
  background-repeat: no-repeat;
}

.hotel-card:nth-child(3) .hotel-card-stars {
  background-image: url("images/stars-2.svg");
  background-repeat: no-repeat;
}

.hotel-card:nth-child(4) .hotel-card-stars {
  background-image: url("images/stars-2.svg");
  background-repeat: no-repeat;
}

.hotel-card-rating {
  margin-top: 16px;
  justify-self: end;
}

.hotel-card-rating {
  color: #000000;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20.7px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  width: 160px;
  height: 18px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 4px;
}

.pagination-show-more-wrapper {
  border: 1px solid #E6E6E6;
  border-left: none;
  border-right: none;
  width: 1056px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 72px;
  margin-bottom: 30px;
}

.pagination-show-more {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 25.88px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  display: block;
  width: 619px;
  padding: 17px;
  border-radius: 4px;
  margin-left: 218px;
  cursor: pointer;
}

.pagination-show-more:hover {
  background-color: #68A2CA;
}

.pagination-show-more:active {
  color: rgba(255, 255, 255, 0.3);
  outline: 1px solid #756257;
}

.pagination-show-more:focus {
  outline: 3px solid #756257;
}

.pagination-pages-wrapper {
  display: flex;
  margin-left: 72px;
}

.pagination {
  display: flex;
  margin-right: 290px;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 25.88px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 55px;
  min-height: 55px;
  margin-right: 8px;
  border-radius: 4px;
}

.pagination-link:hover:not(.pagination-current) {
  background-color: #68A2CA;
}

.pagination-link:active:not(.pagination-current) {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus:not(.pagination-current) {
  outline: 3px solid #756257;;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.select-control-hotel {
  color: #000000;
  font-size: 18px;
  line-height: 23.29px;
  font-weight: 400;
  margin-right: 52px;
  min-width: 175px;
  align-self: center;
}

.pagination-pages-wrapper > .select-control {
  margin: 0;
  width: 160px;
  min-height: 48px;
  margin-right: 72px;
  background-image: url("images/dropdown.svg");
  background-repeat: no-repeat;
  background-position: 126px 19px;
}

.newsletter-inner {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 140px;
}

.newsletter-inner > .newsletter-title {
  height: 36px;
  margin-top: 73px;
  margin-bottom: 46px;
}

.newsletter-inner > .newsletter-description {
  margin-bottom: 24px;
}

.inner-field {
 background-color: #F2F2F2;;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: #ffffff;
  width: 575px;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  padding: 0;
  background-color: #F2F2F2;
  border-radius: 30px;
  border: none;
  background-image: url("images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
}

.modal-title {
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 32px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.auto-form {
  display: flex;
  flex-direction: column;
}

.field-group {
  display: flex;
  align-items: center;
}

.field-group > .field {
  background: #F2F2F2;
  border-radius: 4px;
}

.auth-form .field-group {
  margin: 0;
}

.field-group-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  width: 155px;
}

.field-group:nth-child(2) > .field-group-title {
  padding-top: 8px;
}

.field-group-kids > .field-group-title {
  width: 54px;
}

.auto-form-field {
  padding: 0;
  height: 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.auto-form-field:hover {
  background-color: #E6E6E6;
}

.auto-form-field[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url("images/date.svg") no-repeat center;
  background-size: 15px 15px;
  margin-right: 13px;
}

.auto-form-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  width: 575px;
  height: 60px;
  border: none;
  background: #83B3D3;
  color: #F2F2F2;
  border-radius: 10px;
  margin-top: 20px;
}

.auto-form-button:hover {
  background-color: #68A2CA;
}

.auto-form-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.auto-form-button:focus {
  outline: 3px solid #756257;;
}

.field-group:nth-child(1) > .auto-form-field,
.field-group:nth-child(2) > .auto-form-field {
  width: 420px;
}

.field-group:nth-child(2) {
  margin-bottom: 22px;
}

.field-group-wrapper {
  display: flex;
}

.field-group-wrapper .auto-form-field.field,
.field-group-wrapper .auto-form-field.field {
  width: 133px;
}

.field-group-wrapper .field-group:nth-child(1) {
  margin-right: 56px;
}

.field-group-kids .field-group-title{
  margin-right: 43px;
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 55px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  border: none;
  border-radius: 50%;
  background-color: #83B3D3;
  padding: 0;
  margin: 0;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.tooltip-icon {
  display: block;
  fill: #FFFFFF;
  margin: auto;
}

.tooltip-toggle:hover {
  background-color: #68A2CA;
}

.tooltip-text {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #333333;
  display: block;
  width: 216px;
  padding: 18px 18px 23px 22px;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  margin-top: 17px;
  transform: translateX(-45%);
  display: none;
}

.tooltip-text:after {
  content:'';
  background-image: url("images/tooltip.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.modal-container-close {
  display: none;
}