@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;

    @font-face {
        font-family: "PT Sans";
        font-style: normal;
        font-weight: 700;
        src: url("fonts/pt-sans-bold.woff2") format("woff2");
        font-display: swap;
      }

      @font-face {
        font-family: "PT Sans";
        font-style: italic;
        font-weight: 400;
        src: url("fonts/pt-sans-italic.woff2") format("woff2");
      }
      @font-face {
        font-family: "PT Sans";
        font-style: italic;
        font-weight: 700;
        src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
        font-display: swap;
      }
      /* PT Sans Narrow */
@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2");
    font-display: swap;
  }
html{
  height: 100%;
}

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: #fbf7f4;
  }
  
  .page-header {
    color: #000000;
    background-color: #ffffff;
  }
  .navigation{
    margin: 0 auto;
    display: flex;
    width: 1060px;
  }
  .navigation-list{
    width: 420px;
    margin: 0;
    padding: 0;
  }
  .navigation-user{
    width: 230px;
    margin-left: auto;
  }
  .navigation-link {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    color:  #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }
  .main-container{
    flex-grow: 1;

  }
  .main-index {
      color: black;
      background-color: blanchedalmond;
    background-image: url("images/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .page-container{
    width: 1200px;
    margin: 0 auto;
  }
  .welcome{
    display: block;
    margin: 0 auto;
  }
  .advantages visually-hidden{
    display: block;
    margin: 0 auto;
  }
  .photo-1{
    width: 800px;
    justify-self: end;
  }
  .feature-item major-item feature-real-city{
    width: 400px;
    justify-self: start;
  }
  .advantages-item{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
  }
  .photo-2{
    width: 800px;
    justify-self: start;
  }
  feature-item major-item feature-bridge{
    width: 400px;
    justify-content: end;
  }
  .feature-item common-item{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
  }
  .hotels{
    width: 1200px;
    margin: 0 auto;
  }
  .appointment{
    width: 1200px;
    margin: 0 auto;
  }
  .footer-social {
    margin-left: auto;
    max-width: 115px;{
  } 
  .navigation-logo{
    width: 170px;
    height: 70px;
  }
  .catalog-products{
    display: flex;
  }
  .catalog-filter{
    width: 1200px;
  justify-content: space-around;
  }
  .button{
    width: 1200px;
    justify-content: space-around;
    
  }
  .visually-hidden{
      color: black;
      font-family: "PT Sans";
      font-weight: 400;
      font-size: 30px;
      line-height:36;
      text-align: center;
      font-style: normal;
  } 
  .advantages-description{
  
    color: #333333;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 24px;
    line-height: 36;
    text-align: center;
    font-style: normal;
  }
  .feature-item major-item feature-real-city h3 {
    color: #ffffff;
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .feature-item major-item feature-real-city feature-number{
    color: #ffffff;
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
  feature-item major-item feature-real-city feature-description{
    color: #ffffff;
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
  .feature-item major-item feature-bridge h3 {
    color: #ffffff;
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .feature-item major-item feature-bridge feature-number{
    color: #ffffff;
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
  .feature-item major-item feature-bridge feature-description{
    color: #ffffff;
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
  .feature-item common-item feature-header{
    color: #000000;
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .feature-item common-item feature-number{
    color: #000000;
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
  .feature-item common-item feature-description{
    color: #000000;
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
  .advantages-list feature-header{
    color: #000000;
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .advantages-list feature-description {
    color: #000000;
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
  .hotels {
    background-color: #ffffff;
  }
  .hotels visually-hidden{
    color: #000000;
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height:  36px;
    text-align: center;
  } 
  .hotels-header {
    color: #000000;
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  } 
  .hotels-date{
    color: #333333;
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }
.ie11-hack {
  color: #ffffff;
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}
.appointment {
  color: black;
  background-color: blanchedalmond;
background-image: url("images/catalog-background.jpg");
background-size: 100% auto;
background-repeat: no-repeat;
}
.appointment-title {
  color: #ffffff;
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.appointment-info{
  color: #ffffff;
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.button {
  color: #ffffff;
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
  

  
      
